.contact-icons{
  display:flex;
  gap:16px;
  justify-content:center;
  margin-top:14px;
}

.contact-icons i{
  width:45px;
  height:45px;

  display:flex;
  align-items:center;
  justify-content:center;

  border-radius:50%;

  font-size:22px;

  cursor:pointer;

  transition:.3s;
}

.bi-whatsapp{
  background:#25D366;
  color:#fff;
}

.bi-envelope-fill{
  background:#ff5252;
  color:#fff;
}

.contact-icons i:hover{
  transform:translateY(-4px);
}