<nav class="navbar navbar-expand-lg custom-navbar fixed-top">

  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" routerLink="/" (click)="closeNavbar()">
      <img src="assets/logo.png" alt="Logo" class="logo-image" />
    </a>

    <!-- Mobile Toggle -->

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">

      <span class="navbar-toggler-icon"></span>

    </button>

    <!-- Menu -->

    <div class="collapse navbar-collapse" id="navbar">

      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="closeNavbar()">
            Home
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="closeNavbar()">
            Product
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="closeNavbar()">
            About
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="closeNavbar()">
            Contact
          </a>
        </li>

      </ul>

    </div>

  </div>

</nav>